<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TuYaMCUSimulatorHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TuYaCloudSerialPortHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TuYaMCUSimulatorHelper.Properties.Settings>
            <setting name="data_format" serializeAs="String">
                <value>subsection</value>
            </setting>
            <setting name="time_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delay_times" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="interval_times" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Data_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultLanguage" serializeAs="String">
                <value>zh-hans</value>
            </setting>
            <setting name="currentLanguage" serializeAs="String">
                <value>zh-hans</value>
            </setting>
            <setting name="userDataPath" serializeAs="String">
                <value />
            </setting>
        </TuYaMCUSimulatorHelper.Properties.Settings>
        <TuYaCloudSerialPortHelper.Properties.Settings>
            <setting name="data_format" serializeAs="String">
                <value>subsection</value>
            </setting>
            <setting name="time_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delay_times" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="interval_times" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Data_type" serializeAs="String">
                <value>0</value>
            </setting>
        </TuYaCloudSerialPortHelper.Properties.Settings>
    </userSettings>
</configuration>